﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_1.cshtml";
}

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="~/EstilosLogin/assets/images/favicon.png">
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("../Content/loadingv1.css")" />*@
    <title>Login</title>
    <!-- Custom CSS -->

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/EstilosLogin/dist/css/style.min.css" rel="stylesheet">
    @*<script src="~/Scripts/sweetalert.min.js"></script>*@
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>


        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(../../EstilosLogin/assets/images/login/fondo.jpg) no-repeat center center;">

            <div class="auth-box row">
                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../../EstilosLogin/assets/images/login/farmacia.jpg);">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <div class="text-center">
                            <img src="~/EstilosLogin/assets/images/login/icon medicina.png" alt="wrapkit">
                        </div>
                        <h2 class="mt-3 text-center">Sergio Developer</h2>
                        <p class="text-center"> Si lo puedes imaginar lo puedes Programar </p>

                        @*<form >*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="uname">Usuario</label>
                                    <input class="form-control" id="usuario" type="text"
                                           placeholder="Ingrese su Usuario">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="text-dark" for="pwd">Password</label>
                                    <input class="form-control" id="clave" type="password"
                                           placeholder="Ingrese sus Pasword">
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-block btn-dark" onclick="iniciarSession()">Iniciar Sesion</button>
                            </div>
                            <div class="col-lg-12 text-center mt-5">
                                No tienes una Cuenta? <a href="/Login/RegistrarUsuario" class="text-danger">Ingrese aqui</a>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    @*<script src="~/EstilosLogin/assets/libs/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/EstilosLogin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/EstilosLogin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

  
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <!-- efecto -->
    <script>
        $(".preloader ").fadeOut();
    </script>
</body>

</html>


<audio controls autoplay style="display:none">
    <source src="~/musica/Musica Hacker.mp3" type="audio/mpeg">
</audio>

<script src="~/Scripts/sweetalert.min.js"></script>
<script type="text/javascript">

    //function muestra_oculta_wait(id) {
    //    if (document.getElementById) {
    //        var el = document.getElementById(id);
    //        el.style.display = (el.style.display == 'none') ? 'flex' : 'none';
    //    }
    //}

    //window.onload = function () {
    //    muestra_oculta_wait('wait-dialog');
    //}



    function iniciarSession() {

        var usuario = $('#usuario').val();
        var clave = $('#clave').val();

        $.ajax({
            url: '/Login/LoginPost?usuario=' + usuario + '&&clave=' + clave,
            type: 'POST',
            datatype: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (r) {
                // console.log(re.mensaje);
                if (r.respuesta) {
                    if (r.error == 0) {
                        window.location.href = r.redirect;
                    }
                    else {

                        Swal.fire({
                            title: r.mensaje,
                            text: "Desea Cerrar Todas las Sesiones ?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Cerrar Sesisones'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire(
                                    'Exito',
                                    'Se cerraron todas las Sesiones Correctamente',
                                    'success',
                                    EliminarIp()
                                )
                            }
                        })
                    }
                }
                else {

                    if (r.error == 1) {
                        swal("Validación de Credenciales", 'Verifique sus Datos Correctamente', "warning").then((value) => {
                        })
                    } else {
                        swal("Validación de Credenciales", r.mensaje, "error").then((value) => {
                            window.location.href = r.redirect;
                        })
                    }
                }
              

            }, error: function (e) {
                console.log('error');

            }
             
        });
    }


    function EliminarIp() {
        $.ajax({
            url: '/Login/EliminarIP',
            type: 'POST',
            dataType: 'json',
            //data: jsonSerializedData,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log("Se cerro la ip")
            }
        });

    }



</script>
