﻿
@{
    ViewBag.Title = "RegistrarUsuario";
}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/EstilosLogin/assets/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="~/EstilosLogin/dist/css/style.min.css" rel="stylesheet">
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("../Content/loadingv1.css")" />*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
             style="background:url(../../EstilosLogin/assets/images/fondoregistro.jpg) no-repeat center center;">

            <div class="auth-box row text-center">

                <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(../../EstilosLogin/assets/images/login/registro.jpg);">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                        <img src="~/EstilosLogin/assets/images/big/iconoRegistro.png" alt="wrapkit">
                        <h3 class="mt-3 text-center">Registrate</h3>
                        @*<form class="mt-4">*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="nombre" type="text" placeholder="Nombres">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="apellido" type="text" placeholder="Apellidos">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="usuario" type="text" placeholder="Usuario">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="clave" type="password" placeholder="password">
                                </div>
                            </div>

                            @*<div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control" id="pais">
                                        <option value="">.:: Seleccione su Pais ::.</option>
                                    </select>
                                </div>
                            </div>*@

                            <div class="col-lg-12 text-center">
                                <button type="submit" class="btn btn-block btn-dark" onclick="RegistrarUsuario()">Registrarme</button>
                            </div>
                            <div class="col-lg-12 text-center mt-5">
                                Ya cuenta con una Cuenta? <a href="/Login/Login" class="text-danger">Click aqui</a>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/EstilosLogin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/EstilosLogin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/EstilosLogin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
    </script>

    <div class="contenedor_loader" id="wait-dialog" style="display:none;">
        <div class="loader">
        </div>
    </div>
</body>

</html>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

<script type="text/javascript">

    //function muestra_oculta_wait(id) {
    //    if (document.getElementById) {
    //        var el = document.getElementById(id);
    //        el.style.display = (el.style.display == 'none') ? 'flex' : 'none';
    //    }
    //}

    //window.onload = function () {
    //    muestra_oculta_wait('wait-dialog');
    //}


    $(function () {
        ComboPais();
    })

    function validarFiltro() {

        var isValid = true;

        if ($('#nombre').val().trim() == "") {
            //alert('Ingrese su nombre');
            swal("Ingrese su nombre", "", "warning", {
                button: "OK",
            });
            isValid = false;
        }

        else if ($('#apellido').val().trim() == "") {

            swal("Ingrese su apellido", "", "warning", {
                button: "OK",
            });
            isValid = false;
        }
        else if ($('#email').val().trim() == "") {

            swal("Ingrese su email", "", "warning", {
                button: "OK",
            });
            isValid = false;
        }
        else if ($('#usuario').val().trim() == "") {

            swal("Ingrese su usuario", "", "warning", {
                button: "OK",
            });
            isValid = false;
        }
        else if ($('#clave').val().trim() == "") {

            swal("Ingrese su clave", "", "warning", {
                button: "OK",
            });
            isValid = false;
        }
        else if ($('#pais').val().trim() == "") {
            swal("Seleccione su Pais", "", "warning", {
                button: "OK",
            });
            isValid = false;

        }


        return isValid;
    }

    function ComboPais() {
        $.ajax({
            url: 'ComboPais',
            type: 'POST',
            datatype: 'json',
            success: function (s) {
             

                $(s).each(function () {

                    var option = $(document.createElement('option'));
                    option.val(this.id);
                    option.text(this.valor);
                    $('#pais').append(option);
                });
            },
            error: function (e) {
                console.log('Error')
            }
        });
    }


    function RegistrarUsuario() {

        var idnombre = $('#nombre').val();
        var idapellido = $('#apellido').val();
        var idemail = $('#email').val();
        var idusuario = $('#usuario').val();
        var idclave = $('#clave').val();
        var idpais = $('#pais').val();

        var res = validarFiltro();

        if (res == false) {
            return false;
        }
        $.ajax({

            //beforeSend: function (result) {

            //    muestra_oculta_wait('wait-dialog');

            //},
            type: 'POST',
            url: 'RegistrarUsuarioPost',
            data: { nombre: idnombre, apellido: idapellido, email: idemail, usuario: idusuario, clave: idclave, pais: idpais },
            datatype: 'Json',
            success: function (s) {
                //muestra_oculta_wait('wait-dialog');
                swal(s, "Se le envio un correo" + " " +idemail  , "success"); 
                clearTextBox();
            }, error: function (s) {
                console.log('error registrar')
                //muestra_oculta_wait('wait-dialog');
            }
        });



    }


    function clearTextBox() {

        //$('#myModallblAdd').show();
        //$('#myModallblUpdate').hide();


        $('#nombre').val("");
        $('#apellido').val("");
        $('#email').val("");
        $('#usuario').val("");
        $('#clave').val("");
        $('#pais').val("");
        //$('#btnUpdate').hide();
        //$('#btnAdd').show();

    }
  

</script>